@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.active{
    @apply bg-green-dark text-white;
}

.modelOpacity{
    background-color: rgba(0,0,0,0.7);
}

.online{
    background-color: #ECF8E6;
    color: #0CAA0D
}

.offline{
    background-color: #E9ECEF;
    color: #747070;
}

.register-button:disabled{
    background-color: #747070 !important;
}

.active {
    background-color: #14CA15; /* Set your desired active color here */
    color: #fff; /* Set your desired text color for active state */
  }